@font-face {
    font-family: nexa;
    src: url(fonts/Nexa-XBold.woff);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.agency {
    background-color: #6324DC;
    position: relative;
    border-bottom-right-radius: 534px;
    border-bottom-right-radius: 409px;
    padding-bottom: 246px;
    background-image: url('./images/Ellipse-decor.webp');
    background-repeat: no-repeat;
    background-position: -438px 415px;
    clip-path: polygon(100% 0, 100% 65%, 98% 74%, 96% 80%, 94% 84%, 91% 88%, 85% 91%, 80% 92%, 0 100%, 0 0);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: baseline;
    padding: 30px;
}

.agency-title {
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    flex: 1;
    font-family: 'Gilroy-Bold';
}

.header__list,
.footer__list {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Nexa Regular';
    flex: 5;
}

.header__item,
.footer__item {
    list-style-type: none;
    margin: 0 10px 0 10px;
}

.header__item.contact {
    margin-left: auto;
    text-transform: uppercase;
    color: #6324DC;
    background-color: #fff;
    border-radius: 25px;
    padding: 18px 28px 15px 27px;
    font-size: 14px;
    font-family: 'Nexa';
}

.agency__home {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    justify-content: space-between;
}

.home__info {
    color: #fff;
}

.home__title {
    font-size: 64px;
    font-family: 'Nexa';
    font-weight: 700;
    font-style: normal;
    width: 460px;
}

.home__subtitle {
    font-family: 'Nexa Regular';
    margin-top: 10px;
    color: #E6E1FA;
    line-height: 2;
    width: 461px;
}

.home__button {
    background-color: #00DADC;
    color: #171718;
    padding: 17px 40px 14px 40px;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    font-family: 'Nexa';
    font-size: 12px;
    margin-top: 35px;
}

.home__photo {
    height: 522px;
}

.about {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
    background-image: url('./images/Ellipse-decor.webp');
    background-repeat: no-repeat;
    background-position: -438px 415px;
}

.about-img {
    height: 670px;
    margin-right: 60px;
}

.about__info span,
.services__info span,
.contact__info span {
    color: #6422DB;
    font-family: 'Nexa Regular';
    text-transform: uppercase;
    font-size: 22px;
}

.about__title,
.services__title,
.contact__title {
    color: #25234D;
    font-family: 'Nexa';
    font-size: 60px;
    width: 546px;
    margin-top: 20px;
}

.about__subtitle,
.services__subtitle,
.contact__subtitle {
    color: #64637A;
    font-family: 'Nexa Regular';
    line-height: 2;
    width: 450px;
    margin-top: 10px;
}

.about-btn,
.services-btn,
.contact-btn,
.form__btn {
    color: #171718;
    background-color: #FFC727;
    font-family: 'Nexa';
    text-transform: uppercase;
    padding: 17px 45px 14px 45px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    margin-top: 25px;
}

.services {
    background-image: url('./images/Elements.webp');
    background-position: bottom;
    background-repeat: no-repeat;
}

.services__inner {
    display: flex;
    align-items: baseline;
    padding-top: 40px;
}

.services__cards-wrapper {
    display: flex;
}

.card__group:first-child {
    margin-top: 155px;
    padding-left: 133px;
}

.card__group:last-child {
    padding-left: 44px;
    margin-top: 69px;
}

.services__card {
    background-color: #fff;
    padding: 35px 15px 35px 15px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    margin-bottom: 40px;
}

.services__direction {
    color: #6A697F;
    font-family: 'Nexa';
    margin: 26px 0 20px 0;
    font-size: 18px;
}

.sevices__card-desc {
    color: #64637A;
    font-family: 'Nexa Regular';
    line-height: 2;
}

.reviews {
    background-color: #6324DC;
    background-image: url('./images/map.webp');
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-right-radius: 269px;
    padding: 0 0 300px 0;
    clip-path: polygon(100% 0, 100% 65%, 98% 74%, 96% 80%, 94% 84%, 91% 88%, 85% 91%, 80% 92%, 0 100%, 0 0);
}

.review__subtitle {
    font-family: 'Nexa Regular';
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 10px;
    margin-top: 180px;
}

.review__title {
    color: #fff;
    font-family: 'Nexa';
    font-size: 64px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.reviews__item {
    background-color: white;
    background-image: url('./images/Layer\ 24.webp');
    background-repeat: no-repeat;
    background-position: center top;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}

.review__item-decor,
.review__item-decor:last-child,
.contact__item-decor {
    height: 30px;
    width: 580px;
    position: absolute;
    background-color: #885EE9;
    margin-left: 50px;
    border-bottom-right-radius: 20px;
    background-color: #885EE9;
    border-bottom-left-radius: 20px;
}

.review__item-decor:last-child,
.contact__item-decor {
    height: 23px;
    margin-top: 30px;
    width: 508px;
    margin-left: 85px;
    background-color: #7544E5;
}

.contact__item-decor {
    background-color: #F7F9FE;
    height: 23px;
    margin-top: 460px;
    width: 380px;
    margin-left: 682px;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
}

.reviews__text {
    color: #6A697F;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    width: 486px;
    margin-top: 55px;
    font-family: 'Nexa Regular';
}

.review__user {
    color: #6427DE;
    font-size: 22px;
    font-family: 'Nexa';
    padding: 40px 0 12px 0;
}

.slick-list {
    width: 680px;
}

.slick-prev:before {
    border-radius: 50%;
    border: 2px solid black;
    padding: 8px;
    margin-right: 20px;
}

.slick-next:before {
    border-radius: 50%;
    background-color: #00DADC;
    padding: 10px;
    margin-right: 20px;
}

.slick-next:before,
.slick-prev:before {
    font-family: none !important;
    font-size: 30px !important;
}

.slick-prev:before {
    left: 300px;
    position: absolute;
    top: 135px;
}

.slick-next:before {
    right: 277px;
    position: absolute;
    top: 135px;
}

.slick-prev:before {
    content: '←';
    color: #000 !important;
}

.slick-next:before {
    content: '←';
    color: #fff !important;
}

.reviews {
    position: relative;
}

.review__img-group {
    position: absolute;
    margin-right: 2122px;
}

.slick-prev {
    z-index: 2;
}

.review__stars {
    padding-bottom: 110px;
}

.reviews__image-user {
    left: 538px;
    margin-top: -94px;
    position: absolute;
}

.reviews__image-user:nth-child(2) {
    left: 250px;
    margin-top: 84px;
    position: absolute;
}

.reviews__image-user:nth-child(3) {
    margin-top: 317px;
    position: absolute;
}

.reviews__image-user:nth-child(4) {
    left: 1555px;
    position: absolute;
}

.reviews__image-user:nth-child(5) {
    left: 1655px;
    margin-top: 48px;
    position: absolute;
}

.reviews__image-user:nth-child(6) {
    left: 1521px;
    margin-top: 365px;
    position: absolute;
}

.contuct-us {
    background-color: #FCFCFF;
    padding: 50px 0 530px 0;
}

.contact-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 78px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.10);
}

.input-wrapper {
    max-width: 360px;
    width: 100%;
    position: relative;
}

.input {
    height: 50px;
    font-size: 16px;
    padding: 11px 15px;
    border-radius: 4px;
    border: 1px solid #D2D2D8;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    color: #6422DB;
    font-family: 'Nexa';
    margin-bottom: 15px;
    padding-right: 200px;
}

.form__textarea[placeholder] {
    font-family: 'Nexa Regular';
    margin-bottom: 15px;
}

.placeholder {
    pointer-events: none;
    position: absolute;
    font-weight: 400;
    top: 18px;
    left: 8px;
    padding: 0 8px;
    background-color: white;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #A1A1A1;
    font-family: 'Nexa Regular';
    font-size: 13px;
}

.input:not(:placeholder-shown).input:not(:focus)+.placeholder {
    transform: scale(.75) translateY(-36px) translateX(-15%);
    color: #CBD8E3;
    transition: .2s ease;
}

.input:focus+.placeholder {
    transform: scale(.75) translateY(-36px) translateX(-15%);
    transition: .2s ease;
}

.input:invalid:not(:placeholder-shown) {
    transition: .2s ease;
    border-color: #F52C5C;
}

.input:invalid:not(:placeholder-shown)+.placeholder {
    transition: .2s ease;
    color: #F52C5C;
}

.input:invalid:not(:placeholder-shown).input:not(:focus)+.placeholder {
    transform: scale(.75) translateY(-36px) translateX(-15%);
    color: #F52C5C;
    transition: .2s ease;
}

.form__textarea {
    border: 1px solid #D2D2D8;
    border-radius: 5px;
    resize: none;
    padding: 20px;
    color: #6422DB;
}

.form__btn {
    width: 186px;
    margin-bottom: 20px;
}

.footer-inner {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}

.footer {
    padding-top: 40px;
    background-color: #6324DC;
    clip-path: polygon(6% 20%, 10% 16%, 14% 13%, 19% 10%, 25% 8%, 100% 0, 100% 100%, 0 100%, 0 34%, 4% 23%);
    border-top-left-radius: 432px;
    clip-path: polygon(5% 33%, 9% 28%, 13% 23%, 18% 19%, 24% 16%, 100% 0, 100% 100%, 0 100%, 0 43%);
}

.footer__contact {
    display: flex;
}

.contact__img-wrapper:first-child {
    background-color: #00DADC;
    width: 40px;
    height: 40px;
}

.contact__img-wrapper {
    background-color: #6E7EFD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.footer__contact img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-copyright {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 13px;
    margin: 40px 0 40px 0;
    padding-bottom: 30px;
}

.yellow-oval {
    position: absolute;
    top: 2541px;
    z-index: 22;
    left: -113px;
}

.footer {
    padding-top: 70px;
    margin-top: 140px;
}

.footer__item {
    margin-left: 50px;
}

.oval-blue {
    top: 3640px;
    position: absolute;
    right: 740px;
    z-index: 2;
}

.dots {
    position: absolute;
    top: 69px;
}